+b('div').history
	+e('ul').list
		+history-list([
			{
				title: '',
				text: 'Belarusian State Academy of Communications',
				year: '2010',
				icon: 'ico-college',
			},
			{
				title: '',
				text: 'Vitebsk State Technological University',
				year: '2011',
				icon: 'ico-university',
			},
			{
				title: 'Front-end developer',
				text: '(Educational courses)',
				year: '2014',
				icon: 'ico-front',
			},
			{
				title: 'PHP develeper',
				text: '(Educational courses)',
				year: '2014',
				icon: 'ico-php',
			},
			{
				title: 'Design and graphic',
				text: '(Educational courses)',
				year: '2014',
				icon: 'ico-design',
			},
            {
                title: 'Lepshey Studio',
                text: '(Current job)',
                year: '2014',
                icon: 'ico-notebook',
            },
			{
				title: 'Comprehensive training Web development',
				text: '(Educational courses)',
				year: '2015',
				icon: 'ico-aim',
			},
            {
                title: 'Interface development school',
                text: '(Yandex)',
                year: '2015',
                icon: 'ico-aim',
            }
		])
