+b.panel(id='experience')
    +b('section').content
        +e.col._left(style='background-image: url(images/bg-experience.jpg);')
        +e.col._right
            h1 History

            h3 Here you can see a timeline with some of my achievements.

            include ../blocks/history/history
            include ../blocks/copyRight/copyRight
