+b('section').content(id='home')
    +e.col._left(style='background-image: url(images/bg-home.jpg);')
    +e.col._right
        h1 Hello!

        h3 My name is Dmitry Malofeev!

        p I am a front-end developer. I specialize in web developing. I develop fast and effective web pages. I have a lot of experience in converting PSD to HTML, also know how to develop HTML Emails. I guarantee cross-browser compatibility and clean code. My workflow includes next technology stack:

        +b('ul')
            +e('li') nodeJS
            +e('li') Gulp
            +e('li') Jade
            +e('li') Sass
            +e('li') JS
            +e('li') Git
            +e('li') Photoshop

        p I engaged in web development for 2 years. During this time, I successfully completed more than 20 projects, and passed through many training courses, including «School of interfaces developers Yandex in Moscow». You can find some of my projects in the Portfolio section.

        p My strengths:

        +b('ul')
            +e('li') Responsibility;
            +e('li') Attention to details;
            +e('li') Discipline.

        p
            strong Ready to cooperate!
        //include ../blocks/interests/interests
        include ../blocks/copyRight/copyRight
